@page
@model ParkNet_Fabio.Pinheiro.App.Pages.Vehicles.IndexModel

@{
    ViewData["Title"] = "My Vehicles";
}

<h1>Vehicles</h1>

<p>
    <a button type="button" class="btn btn-success" asp-page="Create">Create New</a>
</p>

<table class="table  table-striped">
    <thead>
        <tr>
            <th>
                License Plate
            </th>
            <th>
                Vehicle Type
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Vehicle)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LicensePlate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VehicleType)
                </td>
                <td>
                    <a button type="button" class="btn btn-primary btn-sm" asp-page="./Edit" asp-route-id="@item.Id">Edit</a>
                    <a button type="button" class="btn btn-primary btn-sm" asp-page="./Details" asp-route-id="@item.Id">Details</a>
                    <a button type="button" class="btn btn-danger btn-sm" asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
